@font-face {
  font-family: "icomoonregular";
src: url(../fonts/icomoon-webfont.woff) format("woff");
font-weight: 400;

}

@font-face {
  font-family: "Montserrat-Regular";
src: url(../fonts/montserrat-regular-webfont.woff) format("woff");
font-weight: 400;

}

@font-face {
  font-family: "GothamPro-Medium";
src: url(../fonts/GothamPro-Medium.woff) format("woff");

}

@font-face {
  font-family: "GothamPro-LightItalic";
src: url(../fonts/GothamPro-LightItalic.woff) format("woff");
font-weight: 300;
font-style: italic;
}

@font-face {
  font-family: "GothamPro-MediumItalic";
src: url(../fonts/GothamPro-MediumItalic.woff) format("woff");
font-weight: 500;
font-style: italic;
}

@font-face {
  font-family: "GothamPro-Bold";
src: url(../fonts/GothamPro-Bold.woff) format("woff");
font-weight: 700;

}

@font-face {
  font-family: "GothamPro-Light";
src: url(../fonts/GothamPro-Light.woff) format("woff");
font-weight: 300;

}

@font-face {
  font-family: "GothamPro-BoldItalic";
src: url(../fonts/GothamPro-BoldItalic.woff) format("woff");
font-weight: 700;
font-style: italic;
}

@font-face {
  font-family: "GothamProNarrow-Medium";
src: url(../fonts/GothamProNarrow-Medium.woff) format("woff");
font-weight: 500;

}

@font-face {
  font-family: "GothamPro-Italic";
src: url(../fonts/GothamPro-Italic.woff) format("woff");
font-weight: 400;
font-style: italic;
}

@font-face {
  font-family: "GothamPro-Black";
src: url(../fonts/GothamPro-Black.woff) format("woff");
font-weight: 900;

}

@font-face {
  font-family: "GothamProNarrow-Bold";
src: url(../fonts/GothamProNarrow-Bold.woff) format("woff");
font-weight: 700;

}

@font-face {
  font-family: "GothamPro-BlackItalic";
src: url(../fonts/GothamPro-BlackItalic.woff) format("woff");
font-weight: 900;
font-style: italic;
}

@font-face {
  font-family: "GothamPro";
src: url(../fonts/GothamPro.woff) format("woff");
font-weight: 400;

}

*,
::after,
::before {
  box-sizing: border-box;
}

@media screen and (max-width:768px) {
  html {
      font-size: 15px;
  }
}

@media screen and (max-width:480px) {
  html {
      font-size: 14px;
  }
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

input:-webkit-autofill,
input:-webkit-autofill:focus textarea:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset opacity 0.8;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input color input:-ms-input-placeholder {
  opacity: 1;
}

iframe {
  border: 0;
  outline: 0;
  margin-bottom: 1.875rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: calc(320px - 40px);
}

body {
  margin: 0;
  padding: 0;
  font-family: GothamPro,Arial,Helvetica,sans-serif;
  font-display: auto;
  font-weight: 500;
  max-height: 100vh;
  overflow-y: auto;
  height: 100%;
  color: #2b2c30;
}

html {
  font-size: 16px;
}

@media screen and (max-width:768px) {
  html {
      font-size: 15px;
  }
}

@media screen and (max-width:480px) {
  html {
      font-size: 14px;
  }
}

a,
input {
  outline: 0;
}

html {
  height: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
  white-space: nowrap;
}

a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #2b8aeb;
  text-decoration: none;
}

input color input::-webkit-input-placeholder {
  opacity: 1;
}

input color input::-ms-input-placeholder {
  opacity: 1;
}

input color input::placeholder {
  opacity: 1;
}

button {
  border: 0;
  outline: 0;
}

select {
  outline: 0;
  -o-text-overflow: ellipsis!important;
  text-overflow: ellipsis!important;
}

.container {
  margin: 0 auto;
  max-width: 1570px;
  width: 95%;
}

@media screen and (max-width:1600px) {
  .container {
      width: 95%;
  }
}

@media screen and (max-width:480px) {
  .container {
      width: 90%;
  }
}

.section {
  width: 100%;
}

.header .header__first-all-elements {
  position: relative;
  display: flex;
  height: 100%;
}

.header__first-logo {
  max-width: 10.625rem;
  height: 1.6875rem;
  flex-shrink: 0;
}

.header__first-link, .header__first-url {
  display: block;
}

.files__table-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.files__table-left-vendor {
  width: 74.5%;
}

.vendor__table-right {
  display: flex;
  flex-direction: column;
  width: 23.6%;
}

.link-in-heading {
  font: inherit;
  color: inherit;
}

.link-true {
  color: #2b8aeb;
  text-decoration: underline;
  font-family: GothamPro;
  font-size: 1rem;
  line-height: 1.69;
}

.link-true:hover {
  text-decoration: none;
}

.button-svg-search-elem {
  width: 1.375rem;
  height: 1.175rem;
  cursor: pointer;
  opacity: 0.7;
  fill: #99a0b6;
}

.grey-link {
  font-size: 0.8125rem;
  line-height: 1.54;
  color: #7a8ea5;
}

.grey-link:hover {
  text-decoration: underline;
}

.comments__general {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 3.3125rem;
  padding-bottom: 1.35rem;
}

.comments__pages-item--active a, .comments__title-general-new h2 {
  font-family: GothamPro-Medium;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #7a8ea5;
}

.comments__title-general-new h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #2b2c30;
}

.comments__link {
  text-decoration: none;
  font-family: GothamPro-Medium;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: right;
  color: #2b8aeb;
  transition: text-decoration 0.2s;
}

.comments__link:hover {
  text-decoration: underline;
}

.comments__section {
  width: 100%;
  margin-bottom: 1.875rem;
}

.comments__questions {
  border: 0.0625rem solid #d9e0ec;
  margin-bottom: 1.875rem;
  border-radius: 0.625rem;
}

.comments__header {
  padding: 1.1875rem 1.875rem;
  border-bottom: 0.0625rem solid #d9e0ec;
}

.comments__item, .comments__list {
  align-items: center;
}

.comments__list {
  display: flex;
}

.comments__item {
  justify-content: center;
  padding-right: 1.25rem;
}

.spritesheet-flags {
  background-image: url(../img/spritesheet-flags.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-IC, .sprite-ID, .sprite-IE {
  width: 32px;
  height: 32px;
  background-position: -7004px -20px;
}

.sprite-ID, .sprite-IE {
  background-position: -7076px -20px;
}

.sprite-AD {
  width: 32px;
  height: 32px;
  background-position: -20px -20px;
}

.sprite-AE,
.sprite-AF,
.sprite-AG {
  width: 32px;
  height: 32px;
  background-position: -92px -20px;
}

.sprite-AF,
.sprite-AG {
  background-position: -164px -20px;
}

.sprite-AG {
  background-position: -236px -20px;
}

.sprite-AI,
.sprite-AL,
.sprite-AM {
  width: 32px;
  height: 32px;
  background-position: -308px -20px;
}

.sprite-AL,
.sprite-AM {
  background-position: -380px -20px;
}

.sprite-AM {
  background-position: -452px -20px;
}

.sprite-AN,
.sprite-AO,
.sprite-AQ {
  width: 32px;
  height: 32px;
  background-position: -524px -20px;
}

.sprite-AO,
.sprite-AQ {
  background-position: -596px -20px;
}

.sprite-AQ {
  background-position: -668px -20px;
}

.sprite-AR,
.sprite-AS,
.sprite-AT {
  width: 32px;
  height: 32px;
  background-position: -740px -20px;
}

.sprite-AS,
.sprite-AT {
  background-position: -812px -20px;
}

.sprite-AT {
  background-position: -884px -20px;
}

.sprite-AU,
.sprite-AW,
.sprite-AX {
  width: 32px;
  height: 32px;
  background-position: -956px -20px;
}

.sprite-AW,
.sprite-AX {
  background-position: -1028px -20px;
}

.sprite-AX {
  background-position: -1100px -20px;
}

.sprite-AZ,
.sprite-BA,
.sprite-BB {
  width: 32px;
  height: 32px;
  background-position: -1172px -20px;
}

.sprite-BA,
.sprite-BB {
  background-position: -1244px -20px;
}

.sprite-BB {
  background-position: -1316px -20px;
}

.sprite-BD,
.sprite-BE,
.sprite-BF {
  width: 32px;
  height: 32px;
  background-position: -1388px -20px;
}

.sprite-BE,
.sprite-BF {
  background-position: -1460px -20px;
}

.sprite-BF {
  background-position: -1532px -20px;
}

.sprite-BG,
.sprite-BH,
.sprite-BI {
  width: 32px;
  height: 32px;
  background-position: -1604px -20px;
}

.sprite-BH,
.sprite-BI {
  background-position: -1676px -20px;
}

.sprite-BI {
  background-position: -1748px -20px;
}

.sprite-BJ,
.sprite-BL,
.sprite-BM {
  width: 32px;
  height: 32px;
  background-position: -1820px -20px;
}

.sprite-BL,
.sprite-BM {
  background-position: -1892px -20px;
}

.sprite-BM {
  background-position: -1964px -20px;
}

.sprite-BN,
.sprite-BO,
.sprite-BR {
  width: 32px;
  height: 32px;
  background-position: -2036px -20px;
}

.sprite-BO,
.sprite-BR {
  background-position: -2108px -20px;
}

.sprite-BR {
  background-position: -2180px -20px;
}

.sprite-BS,
.sprite-BT,
.sprite-BW {
  width: 32px;
  height: 32px;
  background-position: -2252px -20px;
}

.sprite-BT,
.sprite-BW {
  background-position: -2324px -20px;
}

.sprite-BW {
  background-position: -2396px -20px;
}

.sprite-BY,
.sprite-BZ,
.sprite-CA {
  width: 32px;
  height: 32px;
  background-position: -2468px -20px;
}

.sprite-BZ,
.sprite-CA {
  background-position: -2540px -20px;
}

.sprite-CA {
  background-position: -2612px -20px;
}

.sprite-CC,
.sprite-CD,
.sprite-CF {
  width: 32px;
  height: 32px;
  background-position: -2684px -20px;
}

.sprite-CD,
.sprite-CF {
  background-position: -2756px -20px;
}

.sprite-CF {
  background-position: -2828px -20px;
}

.sprite-CG,
.sprite-CH,
.sprite-CI {
  width: 32px;
  height: 32px;
  background-position: -2900px -20px;
}

.sprite-CH,
.sprite-CI {
  background-position: -2972px -20px;
}

.sprite-CI {
  background-position: -3044px -20px;
}

.sprite-CK,
.sprite-CL,
.sprite-CM {
  width: 32px;
  height: 32px;
  background-position: -3116px -20px;
}

.sprite-CL,
.sprite-CM {
  background-position: -3188px -20px;
}

.sprite-CM {
  background-position: -3260px -20px;
}

.sprite-CN,
.sprite-CO,
.sprite-CR {
  width: 32px;
  height: 32px;
  background-position: -3332px -20px;
}

.sprite-CO,
.sprite-CR {
  background-position: -3404px -20px;
}

.sprite-CR {
  background-position: -3476px -20px;
}

.sprite-CU,
.sprite-CV,
.sprite-CW {
  width: 32px;
  height: 32px;
  background-position: -3548px -20px;
}

.sprite-CV,
.sprite-CW {
  background-position: -3620px -20px;
}

.sprite-CW {
  background-position: -3692px -20px;
}

.sprite-CX,
.sprite-CY,
.sprite-CZ {
  width: 32px;
  height: 32px;
  background-position: -3764px -20px;
}

.sprite-CY,
.sprite-CZ {
  background-position: -3836px -20px;
}

.sprite-CZ {
  background-position: -3908px -20px;
}

.sprite-DE,
.sprite-DJ,
.sprite-DK {
  width: 32px;
  height: 32px;
  background-position: -3980px -20px;
}

.sprite-DJ,
.sprite-DK {
  background-position: -4052px -20px;
}

.sprite-DK {
  background-position: -4124px -20px;
}

.sprite-DM,
.sprite-DO,
.sprite-DZ {
  width: 32px;
  height: 32px;
  background-position: -4196px -20px;
}

.sprite-DO,
.sprite-DZ {
  background-position: -4268px -20px;
}

.sprite-DZ {
  background-position: -4340px -20px;
}

.sprite-EC,
.sprite-EE,
.sprite-EG {
  width: 32px;
  height: 32px;
  background-position: -4412px -20px;
}

.sprite-EE,
.sprite-EG {
  background-position: -4484px -20px;
}

.sprite-EG {
  background-position: -4556px -20px;
}

.sprite-EH,
.sprite-ER,
.sprite-ES {
  width: 32px;
  height: 32px;
  background-position: -4628px -20px;
}

.sprite-ER,
.sprite-ES {
  background-position: -4700px -20px;
}

.sprite-ES {
  background-position: -4772px -20px;
}

.sprite-ET,
.sprite-EU,
.sprite-FI {
  width: 32px;
  height: 32px;
  background-position: -4844px -20px;
}

.sprite-EU,
.sprite-FI {
  background-position: -4916px -20px;
}

.sprite-FI {
  background-position: -4988px -20px;
}

.sprite-FJ,
.sprite-FK,
.sprite-FM {
  width: 32px;
  height: 32px;
  background-position: -5060px -20px;
}

.sprite-FK,
.sprite-FM {
  background-position: -5132px -20px;
}

.sprite-FM {
  background-position: -5204px -20px;
}

.sprite-FO,
.sprite-FR,
.sprite-GA {
  width: 32px;
  height: 32px;
  background-position: -5276px -20px;
}

.sprite-FR,
.sprite-GA {
  background-position: -5348px -20px;
}

.sprite-GA {
  background-position: -5420px -20px;
}

.sprite-GB,
.sprite-GD,
.sprite-GE {
  width: 32px;
  height: 32px;
  background-position: -5492px -20px;
}

.sprite-GD,
.sprite-GE {
  background-position: -5564px -20px;
}

.sprite-GE {
  background-position: -5636px -20px;
}

.sprite-GG,
.sprite-GH,
.sprite-GI {
  width: 32px;
  height: 32px;
  background-position: -5708px -20px;
}

.sprite-GH,
.sprite-GI {
  background-position: -5780px -20px;
}

.sprite-GI {
  background-position: -5852px -20px;
}

.sprite-GL,
.sprite-GM,
.sprite-GN {
  width: 32px;
  height: 32px;
  background-position: -5924px -20px;
}

.sprite-GM,
.sprite-GN {
  background-position: -5996px -20px;
}

.sprite-GN {
  background-position: -6068px -20px;
}

.sprite-GQ,
.sprite-GR,
.sprite-GS {
  width: 32px;
  height: 32px;
  background-position: -6140px -20px;
}

.sprite-GR,
.sprite-GS {
  background-position: -6212px -20px;
}

.sprite-GS {
  background-position: -6284px -20px;
}

.sprite-GT,
.sprite-GU,
.sprite-GW {
  width: 32px;
  height: 32px;
  background-position: -6356px -20px;
}

.sprite-GU,
.sprite-GW {
  background-position: -6428px -20px;
}

.sprite-GW {
  background-position: -6500px -20px;
}

.sprite-GY,
.sprite-HK,
.sprite-HN {
  width: 32px;
  height: 32px;
  background-position: -6572px -20px;
}

.sprite-HK,
.sprite-HN {
  background-position: -6644px -20px;
}

.sprite-HN {
  background-position: -6716px -20px;
}

.sprite-HR,
.sprite-HT,
.sprite-HU {
  width: 32px;
  height: 32px;
  background-position: -6788px -20px;
}

.sprite-HT,
.sprite-HU {
  background-position: -6860px -20px;
}

.sprite-HU {
  background-position: -6932px -20px;
}

.sprite-IC,
.sprite-ID,
.sprite-IE {
  width: 32px;
  height: 32px;
  background-position: -7004px -20px;
}

.sprite-ID,
.sprite-IE {
  background-position: -7076px -20px;
}

.sprite-IE {
  background-position: -7148px -20px;
}

.sprite-IL,
.sprite-IM,
.sprite-IN {
  width: 32px;
  height: 32px;
  background-position: -7220px -20px;
}

.sprite-IM,
.sprite-IN {
  background-position: -7292px -20px;
}

.sprite-IN {
  background-position: -7364px -20px;
}

.sprite-IO {
  width: 94px;
  height: 47px;
  background-position: -7436px -20px;
}

.sprite-IQ,
.sprite-IR {
  width: 32px;
  height: 32px;
  background-position: -7570px -20px;
}

.sprite-IR {
  background-position: -7642px -20px;
}

.sprite-IS,
.sprite-IT,
.sprite-JE {
  width: 32px;
  height: 32px;
  background-position: -7714px -20px;
}

.sprite-IT,
.sprite-JE {
  background-position: -7786px -20px;
}

.sprite-JE {
  background-position: -7858px -20px;
}

.sprite-JM,
.sprite-JO,
.sprite-JP {
  width: 32px;
  height: 32px;
  background-position: -7930px -20px;
}

.sprite-JO,
.sprite-JP {
  background-position: -8002px -20px;
}

.sprite-JP {
  background-position: -8074px -20px;
}

.sprite-KE,
.sprite-KG,
.sprite-KH {
  width: 32px;
  height: 32px;
  background-position: -8146px -20px;
}

.sprite-KG,
.sprite-KH {
  background-position: -8218px -20px;
}

.sprite-KH {
  background-position: -8290px -20px;
}

.sprite-KI,
.sprite-KM,
.sprite-KN {
  width: 32px;
  height: 32px;
  background-position: -8362px -20px;
}

.sprite-KM,
.sprite-KN {
  background-position: -8434px -20px;
}

.sprite-KN {
  background-position: -8506px -20px;
}

.sprite-KP,
.sprite-KR,
.sprite-KW {
  width: 32px;
  height: 32px;
  background-position: -8578px -20px;
}

.sprite-KR,
.sprite-KW {
  background-position: -8650px -20px;
}

.sprite-KW {
  background-position: -8722px -20px;
}

.sprite-KY,
.sprite-KZ,
.sprite-LA {
  width: 32px;
  height: 32px;
  background-position: -8794px -20px;
}

.sprite-KZ,
.sprite-LA {
  background-position: -8866px -20px;
}

.sprite-LA {
  background-position: -8938px -20px;
}

.sprite-LB,
.sprite-LC,
.sprite-LI {
  width: 32px;
  height: 32px;
  background-position: -9010px -20px;
}

.sprite-LC,
.sprite-LI {
  background-position: -9082px -20px;
}

.sprite-LI {
  background-position: -9154px -20px;
}

.sprite-LK,
.sprite-LR,
.sprite-LS {
  width: 32px;
  height: 32px;
  background-position: -9226px -20px;
}

.sprite-LR,
.sprite-LS {
  background-position: -9298px -20px;
}

.sprite-LS {
  background-position: -9370px -20px;
}

.sprite-LT,
.sprite-LU,
.sprite-LV {
  width: 32px;
  height: 32px;
  background-position: -9442px -20px;
}

.sprite-LU,
.sprite-LV {
  background-position: -9514px -20px;
}

.sprite-LV {
  background-position: -9586px -20px;
}

.sprite-LY,
.sprite-MA,
.sprite-MC {
  width: 32px;
  height: 32px;
  background-position: -9658px -20px;
}

.sprite-MA,
.sprite-MC {
  background-position: -9730px -20px;
}

.sprite-MC {
  background-position: -9802px -20px;
}

.sprite-MD,
.sprite-ME,
.sprite-MF {
  width: 32px;
  height: 32px;
  background-position: -9874px -20px;
}

.sprite-ME,
.sprite-MF {
  background-position: -9946px -20px;
}

.sprite-MF {
  background-position: -10018px -20px;
}

.sprite-MG,
.sprite-MH,
.sprite-MK {
  width: 32px;
  height: 32px;
  background-position: -10090px -20px;
}

.sprite-MH,
.sprite-MK {
  background-position: -10162px -20px;
}

.sprite-MK {
  background-position: -10234px -20px;
}

.sprite-ML,
.sprite-MM,
.sprite-MN {
  width: 32px;
  height: 32px;
  background-position: -10306px -20px;
}

.sprite-MM,
.sprite-MN {
  background-position: -10378px -20px;
}

.sprite-MN {
  background-position: -10450px -20px;
}

.sprite-MO,
.sprite-MP,
.sprite-MQ {
  width: 32px;
  height: 32px;
  background-position: -10522px -20px;
}

.sprite-MP,
.sprite-MQ {
  background-position: -10594px -20px;
}

.sprite-MQ {
  background-position: -10666px -20px;
}

.sprite-MR,
.sprite-MS,
.sprite-MT {
  width: 32px;
  height: 32px;
  background-position: -10738px -20px;
}

.sprite-MS,
.sprite-MT {
  background-position: -10810px -20px;
}

.sprite-MT {
  background-position: -10882px -20px;
}

.sprite-MU,
.sprite-MV,
.sprite-MW {
  width: 32px;
  height: 32px;
  background-position: -10954px -20px;
}

.sprite-MV,
.sprite-MW {
  background-position: -11026px -20px;
}

.sprite-MW {
  background-position: -11098px -20px;
}

.sprite-MX,
.sprite-MY,
.sprite-MZ {
  width: 32px;
  height: 32px;
  background-position: -11170px -20px;
}

.sprite-MY,
.sprite-MZ {
  background-position: -11242px -20px;
}

.sprite-MZ {
  background-position: -11314px -20px;
}

.sprite-NA,
.sprite-NC,
.sprite-NE {
  width: 32px;
  height: 32px;
  background-position: -11386px -20px;
}

.sprite-NC,
.sprite-NE {
  background-position: -11458px -20px;
}

.sprite-NE {
  background-position: -11530px -20px;
}

.sprite-NF,
.sprite-NG,
.sprite-NI {
  width: 32px;
  height: 32px;
  background-position: -11602px -20px;
}

.sprite-NG,
.sprite-NI {
  background-position: -11674px -20px;
}

.sprite-NI {
  background-position: -11746px -20px;
}

.sprite-NL,
.sprite-NO,
.sprite-NP {
  width: 32px;
  height: 32px;
  background-position: -11818px -20px;
}

.sprite-NO,
.sprite-NP {
  background-position: -11890px -20px;
}

.sprite-NP {
  background-position: -11962px -20px;
}

.sprite-NR,
.sprite-NU,
.sprite-NZ {
  width: 32px;
  height: 32px;
  background-position: -12034px -20px;
}

.sprite-NU,
.sprite-NZ {
  background-position: -12106px -20px;
}

.sprite-NZ {
  background-position: -12178px -20px;
}

.sprite-OM,
.sprite-PA,
.sprite-PE {
  width: 32px;
  height: 32px;
  background-position: -12250px -20px;
}

.sprite-PA,
.sprite-PE {
  background-position: -12322px -20px;
}

.sprite-PE {
  background-position: -12394px -20px;
}

.sprite-PF,
.sprite-PG,
.sprite-PH {
  width: 32px;
  height: 32px;
  background-position: -12466px -20px;
}

.sprite-PG,
.sprite-PH {
  background-position: -12538px -20px;
}

.sprite-PH {
  background-position: -12610px -20px;
}

.sprite-PK,
.sprite-PL,
.sprite-PN {
  width: 32px;
  height: 32px;
  background-position: -12682px -20px;
}

.sprite-PL,
.sprite-PN {
  background-position: -12754px -20px;
}

.sprite-PN {
  background-position: -12826px -20px;
}

.sprite-PR,
.sprite-PS,
.sprite-PT {
  width: 32px;
  height: 32px;
  background-position: -12898px -20px;
}

.sprite-PS,
.sprite-PT {
  background-position: -12970px -20px;
}

.sprite-PT {
  background-position: -13042px -20px;
}

.sprite-PW,
.sprite-PY,
.sprite-QA {
  width: 32px;
  height: 32px;
  background-position: -13114px -20px;
}

.sprite-PY,
.sprite-QA {
  background-position: -13186px -20px;
}

.sprite-QA {
  background-position: -13258px -20px;
}

.sprite-RE {
  width: 50px;
  height: 33px;
  background-position: -13330px -20px;
}

.sprite-RO,
.sprite-RS,
.sprite-RU {
  width: 32px;
  height: 32px;
  background-position: -13420px -20px;
}

.sprite-RS,
.sprite-RU {
  background-position: -13492px -20px;
}

.sprite-RU {
  background-position: -13564px -20px;
}

.sprite-RW,
.sprite-SA,
.sprite-SB {
  width: 32px;
  height: 32px;
  background-position: -13636px -20px;
}

.sprite-SA,
.sprite-SB {
  background-position: -13708px -20px;
}

.sprite-SB {
  background-position: -13780px -20px;
}

.sprite-SC,
.sprite-SD,
.sprite-SE {
  width: 32px;
  height: 32px;
  background-position: -13852px -20px;
}

.sprite-SD,
.sprite-SE {
  background-position: -13924px -20px;
}

.sprite-SE {
  background-position: -13996px -20px;
}

.sprite-SG,
.sprite-SH,
.sprite-SI {
  width: 32px;
  height: 32px;
  background-position: -14068px -20px;
}

.sprite-SH,
.sprite-SI {
  background-position: -14140px -20px;
}

.sprite-SI {
  background-position: -14212px -20px;
}

.sprite-SK,
.sprite-SL,
.sprite-SM {
  width: 32px;
  height: 32px;
  background-position: -14284px -20px;
}

.sprite-SL,
.sprite-SM {
  background-position: -14356px -20px;
}

.sprite-SM {
  background-position: -14428px -20px;
}

.sprite-SN,
.sprite-SO,
.sprite-SR {
  width: 32px;
  height: 32px;
  background-position: -14500px -20px;
}

.sprite-SO,
.sprite-SR {
  background-position: -14572px -20px;
}

.sprite-SR {
  background-position: -14644px -20px;
}

.sprite-SS,
.sprite-ST,
.sprite-SV {
  width: 32px;
  height: 32px;
  background-position: -14716px -20px;
}

.sprite-ST,
.sprite-SV {
  background-position: -14788px -20px;
}

.sprite-SV {
  background-position: -14860px -20px;
}

.sprite-SX {
  width: 65px;
  height: 40px;
  background-position: -14932px -20px;
}

.sprite-SY,
.sprite-SZ,
.sprite-TC {
  width: 32px;
  height: 32px;
  background-position: -15037px -20px;
}

.sprite-SZ,
.sprite-TC {
  background-position: -15109px -20px;
}

.sprite-TC {
  background-position: -15181px -20px;
}

.sprite-TD,
.sprite-TF,
.sprite-TG {
  width: 32px;
  height: 32px;
  background-position: -15253px -20px;
}

.sprite-TF,
.sprite-TG {
  background-position: -15325px -20px;
}

.sprite-TG {
  background-position: -15397px -20px;
}

.sprite-TH,
.sprite-TJ,
.sprite-TK {
  width: 32px;
  height: 32px;
  background-position: -15469px -20px;
}

.sprite-TJ,
.sprite-TK {
  background-position: -15541px -20px;
}

.sprite-TK {
  background-position: -15613px -20px;
}

.sprite-TL,
.sprite-TM,
.sprite-TN {
  width: 32px;
  height: 32px;
  background-position: -15685px -20px;
}

.sprite-TM,
.sprite-TN {
  background-position: -15757px -20px;
}

.sprite-TN {
  background-position: -15829px -20px;
}

.sprite-TO,
.sprite-TR,
.sprite-TT {
  width: 32px;
  height: 32px;
  background-position: -15901px -20px;
}

.sprite-TR,
.sprite-TT {
  background-position: -15973px -20px;
}

.sprite-TT {
  background-position: -16045px -20px;
}

.sprite-TV,
.sprite-TW,
.sprite-TZ {
  width: 32px;
  height: 32px;
  background-position: -16117px -20px;
}

.sprite-TW,
.sprite-TZ {
  background-position: -16189px -20px;
}

.sprite-TZ {
  background-position: -16261px -20px;
}

.sprite-UA,
.sprite-UG,
.sprite-US {
  width: 32px;
  height: 32px;
  background-position: -16333px -20px;
}

.sprite-UG,
.sprite-US {
  background-position: -16405px -20px;
}

.sprite-US {
  background-position: -16477px -20px;
}

.sprite-UY,
.sprite-UZ,
.sprite-VA {
  width: 32px;
  height: 32px;
  background-position: -16549px -20px;
}

.sprite-UZ,
.sprite-VA {
  background-position: -16621px -20px;
}

.sprite-VA {
  background-position: -16693px -20px;
}

.sprite-VC,
.sprite-VE,
.sprite-VG {
  width: 32px;
  height: 32px;
  background-position: -16765px -20px;
}

.sprite-VE,
.sprite-VG {
  background-position: -16837px -20px;
}

.sprite-VG {
  background-position: -16909px -20px;
}

.sprite-VI,
.sprite-VN,
.sprite-VU {
  width: 32px;
  height: 32px;
  background-position: -16981px -20px;
}

.sprite-VN,
.sprite-VU {
  background-position: -17053px -20px;
}

.sprite-VU {
  background-position: -17125px -20px;
}

.sprite-WF,
.sprite-WS,
.sprite-YE {
  width: 32px;
  height: 32px;
  background-position: -17197px -20px;
}

.sprite-WS,
.sprite-YE {
  background-position: -17269px -20px;
}

.sprite-YE {
  background-position: -17341px -20px;
}

.sprite-YT,
.sprite-ZA,
.sprite-ZM {
  width: 32px;
  height: 32px;
  background-position: -17413px -20px;
}

.sprite-ZA,
.sprite-ZM {
  background-position: -17485px -20px;
}

.sprite-ZM {
  background-position: -17557px -20px;
}

.sprite-ZW,
.sprite-_abkhazia {
  width: 32px;
  height: 32px;
  background-position: -17629px -20px;
}

.sprite-_abkhazia {
  background-position: -17701px -20px;
}

.sprite-_basque-country {
  width: 32px;
  height: 32px;
  background-position: -17773px -20px;
}

.sprite-_british-antarctic-territory,
.sprite-_commonwealth {
  width: 32px;
  height: 32px;
  background-position: -17845px -20px;
}

.sprite-_commonwealth {
  background-position: -17917px -20px;
}

.sprite-_england,
.sprite-_gosquared {
  width: 32px;
  height: 32px;
  background-position: -17989px -20px;
}

.sprite-_gosquared {
  background-position: -18061px -20px;
}

.sprite-_kosovo,
.sprite-_mars {
  width: 32px;
  height: 32px;
  background-position: -18133px -20px;
}

.sprite-_mars {
  background-position: -18205px -20px;
}

.sprite-_nagorno-karabakh,
.sprite-_nato {
  width: 32px;
  height: 32px;
  background-position: -18277px -20px;
}

.sprite-_nato {
  background-position: -18349px -20px;
}

.sprite-_northern-cyprus {
  width: 32px;
  height: 32px;
  background-position: -18421px -20px;
}

.sprite-_olympics,
.sprite-_red-cross {
  width: 32px;
  height: 32px;
  background-position: -18493px -20px;
}

.sprite-_red-cross {
  background-position: -18565px -20px;
}

.sprite-_scotland,
.sprite-_somaliland {
  width: 32px;
  height: 32px;
  background-position: -18637px -20px;
}

.sprite-_somaliland {
  background-position: -18709px -20px;
}

.sprite-_south-ossetia {
  width: 32px;
  height: 32px;
  background-position: -18781px -20px;
}

.sprite-_united-nations,
.sprite-_unknown {
  width: 32px;
  height: 32px;
  background-position: -18853px -20px;
}

.sprite-_unknown {
  background-position: -18925px -20px;
}

.sprite-_wales,
.sprite-unknown {
  width: 32px;
  height: 32px;
  background-position: -18997px -20px;
}

.sprite-unknown {
  background-position: -19069px -20px;
}

.comments__name {
  padding-bottom: 0.3125rem;
}

.comments__name h3 {
  font-family: GothamPro-Medium;
  font-size: 1.0625rem;
  font-weight: 500;
  text-align: left;
  color: #2b2c30;
}

.comments__answer p, .comments__heading h4, .comments__paragraph p, .comments__time h4 {
  font-family: GothamPro;
  font-size: 0.9375rem;
  font-weight: 400;
}

.comments__time h4 {
  text-align: left;
  color: #7a8ea5;
}

.comments__body {
  padding: 1.5rem 1.875rem;
}

.comments__heading {
  text-align: left;
  padding: 1.875rem;
  padding-bottom: 0;
}

.comments__heading--position {
  padding: 0;
  text-align: start;
}

.comments__answer p, .comments__heading h4, .comments__paragraph p, .comments__time h4 {
  font-family: GothamPro;
  font-size: 0.9375rem;
  font-weight: 400;
}

.comments__answer p, .comments__heading h4, .comments__paragraph p {
  line-height: 1.8;
  color: #51657c;
}

.comments__heading h4 {
  word-wrap: break-word;
}

@media (max-width: 1200px) {
  .files__table-left-vendor {
    width: 100%;
  }

  .vendor__table-right {
    width: 100%;
    margin-top: 3.125rem;
  }
}
