footer.blog__footer
  .container.blog__footer-container
    p.blog__footer-copyrights © 2018 Exam-labs.com
    ul.blog__footer-list
      li.blog__footer-item
        a(href="#").blog__footer-link Help
      li.blog__footer-item
        a(href="#").blog__footer-link Contact
      li.blog__footer-item
        a(href="#").blog__footer-link Terms
      li.blog__footer-item
        a(href="#").blog__footer-link Billing Policy
      li.blog__footer-item
        a(href="#").blog__footer-link Privacy