extends ../_template

block variables
    - var title = 'Blog – IT Certifications in Easy Way? '

block content
    .wrapper
        section.section
            header.header.header--blog
                .header__first.header__first--blog
                    .container
                        .header__first-all-elements
                            .header__first-logo
                                .header__first-url
                                    a(href="index.html").header__first-link-logo
                                        img(src="./assets/img/logo-png2.png" alt="ExamLabs Home Page").header__first-img
                            strong.blog__heder-heading Blog – IT Certifications in Easy Way? 
            .reseller-page-width
                .container.files__table-general.blog__container
                    .files__table-left-vendor
                        form(action="/" method="post").blog__search.blog__search--responsive
                            p.blog__search-wrapper
                                input(type="search", name="search", placeholder="Search")
                                button(type="submit").blog__search-button
                                    <svg class="button-svg-search-elem" width="20px" height="20px" id="svgElementFocus">
                                        <use xlink:href="assets/img/sprite.svg#group-35"></use>
                                    </svg>
                        section.post
                            h1.post__heading
                                a(href="#").link-in-heading 2020 Great Change: New Cisco Certification Program
                            p.post__details.post__details--before
                                a(href="#").post__details-icon.grey-link.post__author ulia
                                time(datetime="2020-02-05").post__details-icon.post__date February 5, 2020
                            p.post__text 2019 was a great year in the world of Information Technology. The industry has undergone significant changes, especially in the areas of certificates. 2020 is looking to continue the same line as 2019. It is expected that much will change and there will be numerous certification path updates for various vendors. In this blog post, the focus will be on Cisco. We will explore the changes that will take place in the Cisco certification program and how they will be useful for the professionals in the field.
                            figure.post__image-full-width
                                img(src="./assets/img/post-image.jpg", alt="Post Image")
                            h2.post__theme-title New Changes to Cisco Certification and Training Programs
                            p.post__text If you are planning to upgrade your skills and knowledge this year, Cisco has new learning options and credentials for you. According to this vendor, the new certification and training paths are designed to cover crucial skills in core IT areas and focus on the latest technology. It is important to note that adjustments have been made to CCNA, CCNP, and CCIE. Also, there is an additional layer to the certification track, which is called Specialist. The level of these certificates is between CCNA and CCNP. Additionally, there are new training courses that will be introduced soon, and the professionals in the field will begin to earn badges for the courses they have completed. This is slated to commence after the launch of new exams on February 24, 2020.
                            p.post__text While you prepare towards earning your Cisco credential, it is important to bear in mind that the Cisco 100-105 ICND1 exam, which is designed to lead to the award of the CCENT and other certifications, will expire this year. As a matter of fact, February 23, 2020 is the last date for this well-known test. This means that those students planning to obtain CCENT as the first step towards their CCNA Routing & Switching, CCNA Security, CCDA, CCNA Collaboration, and CCNA Wireless will no longer be able to do this from February 24th. However, if you are still planning to take this certification test, you can do it before the final exam date.
                            h2.post__theme-title Big Changes to Cisco Certifications in 2020
                            p.post__text This year will be the end of many Cisco certificates that will be replaced by new streamlined credentials. Let’s look at some significant changes that will happen in 2020.
                            h3.post__theme-subtitle Changes to CCNA
                            p.post__text Currently, there are nine CCNA certification paths offered by Cisco. However, from 2020, all credentials will be consolidated into a single CCNA certificate. This new certification is designed for those professionals who are taking up job roles in associate-level technologies. There will be only one exam that will cover the different IT fundamentals, the latest software development, networking technologies, as well as various job roles. As already mentioned, all previous credentials will be withdrawn by February. All these certificates will be replaced by a single CCNA certification the next day. If you were preparing for any of the current CCNA certificates, you can still take it before its expiration date. Your certification will be upgraded when the new credential is launched. It is essential to mention that there are no prerequisites for new CCNA. However, you have to recertify your certificate by earning CE units in educational activities within a period of three years.
                            h3.post__theme-subtitle Changes to CCDP and CCNP
                            p.post__text The professional-level CCNP and CCDP credentials are also getting an overhaul. In the new edition of the certification path, CCNP Wireless, CCNP Routing & Switching, and CCDP will be incorporated into CCNP Enterprise, and the candidates will have to pass two exams: one Core test and one Concentration exam. For the concentration test, the students will have the opportunity to choose the one based on their career paths. Additionally, CCNP Cloud will be integrated with CCNP Data Center.
                            p.post__text In summary, CCDP, CCNP Routing & Switching, and CCNP Wireless will be replaced by CCNP Enterprise. CCNP Collaboration, CCNP Service Provider, CCNP Security, CCNP Data Center will remain unchanged, while CCNP Cloud will be consolidated with CCNP Data Center. If you are preparing for any of the current CCNP or CCDP tests, you must complete them before the mentioned date. There are no prerequisites for the CCNP credentials, and any professional-level certification is valid for a period of three years.
                            h2.post__theme-title Conclusion
                            p.post__text As you can see, Cisco is going to significantly change its certification program, and this will affect all the credentials that the vendor offers now. The day when the new paths will take the place of the old ones will be very soon. That is why you need to consider the certificate you want so that you can start preparing for the relevant exam as soon as possible.
                            p.post__details.post__details--after
                                a(href="#").post__details-icon.grey-link.post__category Uncategirized
                                a(href="#").post__details-icon.grey-link.post__comments Comments
                        section.post__unauthorized
                            h2.post__theme-title Leave a Reply
                            p.post__text You must be <a class="link-true" href="#">logged in</a> to post a comment.
                        .blog__navigation
                            a(href="#").blog__nav-link.blog__nav-link--prev 5 Free Alternatives to Microsoft Excel: What Are They?
                            a(href="#").blog__nav-link.blog__nav-link--next 5 Free Alternatives to Microsoft Excel: What Are They?

                    aside.vendor__table-right.blog__sidebar
                        form(action="/" method="post").blog__search
                            p.blog__search-wrapper
                                input(type="search", name="search", placeholder="Search")
                                button(type="submit").blog__search-button
                                    <svg class="button-svg-search-elem" width="20px" height="20px" id="svgElementFocus">
                                        <use xlink:href="assets/img/sprite.svg#group-35"></use>
                                    </svg>
                        section.blog__sidebar-block
                            h3.blog__sidebar-heading Recent Posts
                            ul.blog__sidebar-list
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 2020 Great Change: New Cisco Certification Program
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 5 Free Alternatives to Microsoft Excel: What Are They?
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 5 Free Alternatives to Microsoft Word: What Are They?
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading AWS vs Azure vs Google: What Is the Best Cloud Service Provider? Pros and Cons Based on Consumer Reviews
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading Top 10 Essential Windows PowerShell Commands You Need to Know
                        section.blog__sidebar-block
                            h3.blog__sidebar-heading Archives
                            ul.blog__sidebar-list
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading February 2020
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading December 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading October 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading January 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading November 2018
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading September 2018

            include ../common/_footer-blog