extends ../_template

block variables
    - var title = 'Blog – IT Certifications in Easy Way? '

block content
    .wrapper
        section.section
            header.header.header--blog
                .header__first.header__first--blog
                    .container
                        .header__first-all-elements
                            .header__first-logo
                                .header__first-url
                                    a(href="index.html").header__first-link-logo
                                        img(src="./assets/img/logo-png2.png" alt="ExamLabs Home Page").header__first-img
                            strong.blog__heder-heading Blog – IT Certifications in Easy Way? 
            .reseller-page-width
                .container.files__table-general.blog__container
                    .files__table-left-vendor
                        form(action="/" method="post").blog__search.blog__search--responsive
                            p.blog__search-wrapper
                                input(type="search", name="search", placeholder="Search")
                                button(type="submit").blog__search-button
                                    <svg class="button-svg-search-elem" width="20px" height="20px" id="svgElementFocus">
                                        <use xlink:href="assets/img/sprite.svg#group-35"></use>
                                    </svg>
                        <div class="comments__general comments__general--blog">
                            <div class="comments__title-general-new">
                                <h2>Comments</h2>
                            </div>
                            <div class="comments__url">
                                <a class="comments__link" href="#add-comment">+ Add Comment</a>
                            </div>
                        </div>
                        <div class="comments-block-wrap">
                            <div class="comments__section">
                                <div class="comments__questions comments__questions--padding">
                                    <div class="comments__header">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <i class="spritesheet-flags sprite-IE"></i>
                                            </li>
                                            <li class="comments__item">
                                                <div class="comments__name">
                                                    <h3>noah</h3>
                                                </div>
                                                <div class="comments__time">
                                                    <h4>Nov  5, 2019, 07:29 AM</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comments__body">
                                        <div class="comments__heading comments__heading--position">
                                            <h4>passing comptia security+ sy0-501 exam was a great achievement for me. I combined a number of study materials during my preparation, but this vce file that I obtained from exam-labs stood out. It made a huge contribution to my success of getting Security+ credential. I definitely recommend it to any exam takers.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments__questions comments__questions--padding">
                                    <div class="comments__header">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <i class="spritesheet-flags sprite-IT"></i>
                                            </li>
                                            <li class="comments__item">
                                                <div class="comments__name">
                                                    <h3>Caro</h3>
                                                </div>
                                                <div class="comments__time">
                                                    <h4>Nov  3, 2019, 07:29 AM</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="comments__body">
                                    <div class="comments__heading comments__heading--position">
                                        <h4>Using this SY0-501 vce file in my preparations was never a waste of time. It helped me level up my skills and get familiar with the exam format. This made the exam less difficult for me… I didn’t struggle to pass</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="comments__questions comments__questions--padding">
                                <div class="comments__header">
                                    <ul class="comments__list">
                                        <li class="comments__item">
                                            <i class="spritesheet-flags sprite-FR"></i>
                                        </li>
                                        <li class="comments__item">
                                            <div class="comments__name">
                                                <h3>bella</h3>
                                            </div>
                                            <div class="comments__time">
                                                <h4>Nov  2, 2019, 07:28 AM</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comments__body">
                                    <div class="comments__heading comments__heading--position">
                                        <h4>a friend recommended this site to me when I needed preparation materials. I gave it a try and obtained SY0-501 exam questions. now I am recommending this site to anyone looking to sharpen themselves for the exam. Their materials helped me pass the cert test easily!</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="comments__questions comments__questions--padding">
                                <div class="comments__header">
                                    <ul class="comments__list">
                                        <li class="comments__item">
                                            <i class="spritesheet-flags sprite-IN"></i>
                                        </li>
                                        <li class="comments__item">
                                            <div class="comments__name">
                                                <h3>erico</h3>
                                            </div>
                                            <div class="comments__time">
                                                <h4>Nov  1, 2019, 07:29 AM</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comments__body">
                                    <div class="comments__heading comments__heading--position">
                                        <h4>the exam questions and answers for SY0-501 I obtained from this site gave me the boost I required in my preparation for the exam. Their material was accurate, giving me enough knowledge to easily tackle my exam.</h4>
                                    </div>
                                </div>
                            </div>
                                <div class="comments__questions comments__questions--padding">
                                    <div class="comments__header">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <i class="spritesheet-flags sprite-US"></i>
                                            </li>
                                            <li class="comments__item">
                                                <div class="comments__name">
                                                    <h3>herald</h3>
                                                </div>
                                                <div class="comments__time">
                                                    <h4>Nov  1, 2019, 07:28 AM</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comments__body">
                                        <div class="comments__heading comments__heading--position">
                                            <h4>i practised with this SY0-501 practice test with an open mind. all the questions did not reappear in the actual exam, but 80% of them really were there. this file helped to shape how I approached the questions. I passed highly!!!</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments__questions comments__questions--padding">
                                    <div class="comments__header">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <i class="spritesheet-flags sprite-US"></i>
                                            </li>
                                            <li class="comments__item">
                                                <div class="comments__name">
                                                    <h3>Leo</h3>
                                                </div>
                                                <div class="comments__time">
                                                    <h4>Oct 31, 2019, 07:28 AM</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comments__body">
                                        <div class="comments__heading comments__heading--position">
                                            <h4>I doubt if I could have made it without the help of SY0-501 exam dump. My days are always busy leaving me with only limited time to study. Thanks to the exam-labs team for providing this helpful material.		</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments__questions comments__questions--padding">
                                    <div class="comments__header">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <i class="spritesheet-flags sprite-DE"></i>
                                            </li>
                                            <li class="comments__item">
                                                <div class="comments__name">
                                                    <h3>Albern</h3>
                                                </div>
                                                <div class="comments__time">
                                                    <h4>Oct 30, 2019, 07:28 AM</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comments__body">
                                        <div class="comments__heading comments__heading--position">
                                            <h4>I used CompTIA SY0-501 premium file for my exam preparation. I just received my results… I passed! These materials are valid	</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        .blog__navigation
                            a(href="#").blog__nav-link.blog__nav-link--prev Older
                            a(href="#").blog__nav-link.blog__nav-link--next Newer

                    aside.vendor__table-right.blog__sidebar
                        form(action="/" method="post").blog__search
                            p.blog__search-wrapper
                                input(type="search", name="search", placeholder="Search")
                                button(type="submit").blog__search-button
                                    <svg class="button-svg-search-elem" width="20px" height="20px" id="svgElementFocus">
                                        <use xlink:href="assets/img/sprite.svg#group-35"></use>
                                    </svg>
                        section.blog__sidebar-block
                            h3.blog__sidebar-heading Recent Posts
                            ul.blog__sidebar-list
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 2020 Great Change: New Cisco Certification Program
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 5 Free Alternatives to Microsoft Excel: What Are They?
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading 5 Free Alternatives to Microsoft Word: What Are They?
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading AWS vs Azure vs Google: What Is the Best Cloud Service Provider? Pros and Cons Based on Consumer Reviews
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading Top 10 Essential Windows PowerShell Commands You Need to Know
                        section.blog__sidebar-block
                            h3.blog__sidebar-heading Archives
                            ul.blog__sidebar-list
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading February 2020
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading December 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading October 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading January 2019
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading November 2018
                                li.blog__sidebar-item
                                    h4.blog__sidebar-item-title
                                        a(href="#").link-in-heading September 2018

            include ../common/_footer-blog